<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="krelve.app.kuaihu">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.write_external_storage"></uses-permission>

    <application
        android:name=".Kpplication"
        android:allowBackup="true"
        android:icon="@mipmap/zhihu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.LatestContentActivity"
            android:theme="@style/AppTheme.TransparentActivity"></activity>
        <activity
            android:name=".activity.NewsContentActivity"
            android:theme="@style/AppTheme.TransparentActivity"></activity>
    </application>

</manifest>
